@import './tailwind.css';
@import './base.css';

#app {
  max-width: 90vw;
  min-width: 90vw;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.red {
  text-decoration: none;
  color: rgb(180, 42, 42);
  transition: 0.8s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 67%, 0.284);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    transition: 0.5s;
  }

  #app {
    padding: 0 2vw;
  }
}
